In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
dataset=pd.read_csv("insurance_pre.csv")

In [4]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [5]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [6]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [7]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [8]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [9]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [10]:
dependent=dataset[['charges']]

In [11]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [16]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':['mse','mae','friedman_mse'],
              'max_features':['auto','sqrt','log2'],
             'splitter':['best','random']}

grid = GridSearchCV(DecisionTreeRegressor(),param_grid, refit = True, verbose=3, n_jobs=-1)

#fitting thee model for grid search
grid.fit(independent,dependent)

C:\Users\pavih\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.

Fitting 3 folds for each of 18 candidates, totalling 54 fits

[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    2.6s
[Parallel(n_jobs=-1)]: Done  39 out of  54 | elapsed:    2.8s remaining:    1.0s
[Parallel(n_jobs=-1)]: Done  54 out of  54 | elapsed:    2.8s finished

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=DecisionTreeRegressor(criterion='mse', max_depth=None,
                                             max_features=None,
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             presort=False, random_state=None,
                                             splitter='best'),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [17]:
# print best parameter after tuning
#print(grid.best_params_)
re=grid.cv_results_


print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'mae', 'max_features': 'auto', 'splitter': 'best'}:

In [18]:
 table=pd.DataFrame.from_dict(re)

In [19]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.014059,0.004370,0.004670,0.003401,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.700017,0.657829,0.701546,0.686464,0.020257,5
1,0.006194,0.005466,0.008715,0.006508,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.661048,0.708391,0.707979,0.692473,0.022221,2
2,0.008004,0.000004,0.008001,0.000002,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.713899,0.612956,0.674381,0.667079,0.041532,10
3,0.013324,0.003775,0.005343,0.003778,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.672534,0.671995,0.682279,0.675603,0.004726,7
4,0.015637,0.000000,0.000000,0.000000,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.615136,0.646265,0.572203,0.611201,0.030363,16
5,0.011200,0.002256,0.000000,0.000000,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.623490,0.578079,0.671310,0.624293,0.038066,13
6,0.047466,0.000470,0.003002,0.004246,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.689866,0.721089,0.685393,0.698782,0.015878,1
7,0.034133,0.004029,0.000000,0.000000,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.683832,0.706598,0.675098,0.688509,0.013278,4
8,0.027284,0.003473,0.004169,0.005896,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.700031,0.697407,0.613648,0.670362,0.040117,8
9,0.022853,0.006565,0.005002,0.007074,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.597855,0.576659,0.659948,0.611488,0.035343,15
10,0.029693,0.012272,0.004674,0.006610,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.618971,0.711949,0.631647,0.654189,0.041169,12
11,0.029702,0.000476,0.005333,0.003771,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.702651,0.716373,0.617254,0.678759,0.043850,6
12,0.012682,0.006610,0.008002,0.006532,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.705729,0.665508,0.703629,0.691622,0.018485,3
13,0.012606,0.003372,0.006572,0.003659,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.648738,0.676146,0.684871,0.669918,0.015395,9
14,0.007280,0.001862,0.003302,0.001149,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.672178,0.508546,0.690719,0.623814,0.081858,14
15,0.007202,0.001086,0.003122,0.000289,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.594701,0.588493,0.638800,0.607331,0.022395,17
16,0.006094,0.000629,0.004129,0.001852,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.704367,0.697262,0.599427,0.667019,0.047882,11
17,0.007365,0.001382,0.001821,0.002575,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.646152,0.476452,0.569514,0.564040,0.069388,18

In [20]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:15
BMI:45
Children:2
Sex Male 0 or 1:1
Smoker Yes 0 or 1:3

In [21]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])

#change the parameter ,play with it
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[42112.2356]

In [22]:
import pickle
filename="finalized_model_dtr-Grid Without-train test.sav"

In [24]:
pickle.dump(grid,open(filename,'wb'))

In [25]:
loaded_model=pickle.load(open("finalized_model_dtr-Grid Without-train test.sav",'rb'))

In [27]:
result=loaded_model.predict([[16723.5,17823.5,1555,0,1]])

In [28]:
result

array([63770.42801])