In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

In [8]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [9]:
dependent=dataset[['charges']]

In [10]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [11]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV

#from Sklearn.tree import RandomForestRegressor
param_grid = {'criterion':['mse','mae'],
              'max_features':['auto','sqrt','log2'],
             'n_estimators':[10,100]}

grid= GridSearchCV(RandomForestRegressor(),param_grid, refit=True,verbose=3,n_jobs=-1 )


#fitting the model for grid search
grid.fit(independent,dependent)

C:\Users\pavih\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.

Fitting 3 folds for each of 12 candidates, totalling 36 fits

[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    3.0s
[Parallel(n_jobs=-1)]: Done  34 out of  36 | elapsed:    4.9s remaining:    0.2s
[Parallel(n_jobs=-1)]: Done  36 out of  36 | elapsed:    5.2s finished
C:\Users\pavih\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:715: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=RandomForestRegressor(bootstrap=True, criterion='mse',
                                             max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators='warn', n_jobs=None,
                                             oob_score=False, random_state=None,
                                             verbose=0, warm_start=False),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [12]:
 # print best parameter after tuning
#print(grid.best_params_)
re=grid.cv_results_



print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'mse', 'max_features': 'log2', 'n_estimators': 100}:

In [13]:
table=pd.DataFrame.from_dict(re)

In [14]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.057286,7.364010e-03,0.010415,7.364516e-03,mse,auto,10,"{'criterion': 'mse', 'max_features': 'auto', '...",0.837459,0.789135,0.813508,0.813368,0.019729,10
1,0.350994,1.639299e-02,0.019868,5.731278e-03,mse,auto,100,"{'criterion': 'mse', 'max_features': 'auto', '...",0.839083,0.826663,0.819413,0.828387,0.008122,5
2,0.036447,7.370084e-03,0.010415,7.364853e-03,mse,sqrt,10,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.806340,0.824464,0.817067,0.815957,0.007441,9
3,0.249965,1.040032e-05,0.020832,7.364909e-03,mse,sqrt,100,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.840778,0.835268,0.817472,0.831173,0.009946,4
4,0.031247,5.150430e-07,0.000000,0.000000e+00,mse,log2,10,"{'criterion': 'mse', 'max_features': 'log2', '...",0.841462,0.807327,0.808723,0.819171,0.015773,8
5,0.254901,7.512136e-03,0.020793,7.393610e-03,mse,log2,100,"{'criterion': 'mse', 'max_features': 'log2', '...",0.843905,0.836315,0.818778,0.832999,0.010522,1
6,0.238595,7.973747e-03,0.010416,7.365246e-03,mae,auto,10,"{'criterion': 'mae', 'max_features': 'auto', '...",0.814823,0.817201,0.804727,0.812250,0.005408,11
7,1.967600,1.818683e-02,0.015623,1.946680e-06,mae,auto,100,"{'criterion': 'mae', 'max_features': 'auto', '...",0.823063,0.830519,0.817850,0.823811,0.005199,6
8,0.136458,1.031368e-02,0.005208,7.365471e-03,mae,sqrt,10,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.814045,0.816267,0.794909,0.808407,0.009587,12
9,1.226551,1.948544e-02,0.015623,4.052337e-07,mae,sqrt,100,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.845140,0.832271,0.819756,0.832389,0.010363,2
10,0.127673,9.654082e-03,0.005208,7.365246e-03,mae,log2,10,"{'criterion': 'mae', 'max_features': 'log2', '...",0.830032,0.812206,0.819281,0.820506,0.007329,7
11,1.053641,1.467573e-01,0.013083,3.593721e-03,mae,log2,100,"{'criterion': 'mae', 'max_features': 'log2', '...",0.840911,0.835685,0.818441,0.831679,0.009601,3

In [15]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex_Male 0 or 1:"))
smoker_yes_input=int(input("Smoker_Yes 0 or 1:"))

Age:15
BMI:45
Children:2
Sex_Male 0 or 1:0
Smoker_Yes 0 or 1:1

In [16]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])

#change the parameter ,play with it
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[37179.6899815]

In [17]:
import pickle
filename="finalized_model_RF-Grid-Without-train test.sav"

In [18]:
pickle.dump(grid,open(filename,'wb'))

In [19]:
loaded_model=pickle.load(open("finalized_model_RF-Grid-Without-train test.sav",'rb'))

In [20]:
result=loaded_model.predict([[16723.5,17823.5,1555,0,1]])

In [21]:
result

array([43764.3976963])