In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age','bmi','children','sex_male','smoker_yes']]

In [8]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [9]:
dependent=dataset[['charges']]

In [10]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [11]:
!pip install xgboost

Requirement already satisfied: xgboost in c:\users\pavih\anaconda3\lib\site-packages (1.6.2)
Requirement already satisfied: scipy in c:\users\pavih\anaconda3\lib\site-packages (from xgboost) (1.3.1)
Requirement already satisfied: numpy in c:\users\pavih\anaconda3\lib\site-packages (from xgboost) (1.16.5)

In [12]:


import matplotlib.pyplot as plt

In [20]:
from sklearn.model_selection import GridSearchCV
import xgboost 

params_grid = {'learning_rate': [0.05, 0.10, 0.15],
               'max_depth': [3, 4, 5, 6, 8],
               'min_child_weight': [1, 3, 5, 7],
               'gamma': [0.0, 0.1, 0.2],
               'colsample_bytree': [0.3, 0.4]}

grid=GridSearchCV(xgboost(),params_grid,refit=True,verbose=3,n_jobs=-1)
                    
grid.fit(independent,dependent)

TypeError: 'module' object is not callable

In [62]:
# print best parameter after tuning
#print(grid.best_params_)
re=grid.cv_results_

#print(re)
grid_predictions=grid.predict(x_test)

# print classification report
from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_predictions)

print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)

The R_score value for best parameter {'colsample_bytree': 0.4, 'gamma': 0.0, 'learning_rate': 0.15, 'max_depth': 3, 'min_child_weight': 7}: 0.8779407577983191

In [63]:
table=pd.DataFrame.from_dict(re)

In [64]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_colsample_bytree,param_gamma,param_learning_rate,param_max_depth,param_min_child_weight,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.134641,0.006550,0.008681,0.005124,0.3,0,0.05,3,1,"{'colsample_bytree': 0.3, 'gamma': 0.0, 'learn...",-6.178786e+07,-7.019385e+07,-7.799980e+07,-6.999383e+07,6.620005e+06,310
1,0.145013,0.009493,0.009513,0.007544,0.3,0,0.05,3,3,"{'colsample_bytree': 0.3, 'gamma': 0.0, 'learn...",-6.188093e+07,-7.007819e+07,-7.787297e+07,-6.994403e+07,6.529413e+06,307
2,0.156967,0.001645,0.001776,0.002512,0.3,0,0.05,3,5,"{'colsample_bytree': 0.3, 'gamma': 0.0, 'learn...",-6.114192e+07,-7.031624e+07,-7.819513e+07,-6.988443e+07,6.968634e+06,304
3,0.144498,0.004107,0.002003,0.002833,0.3,0,0.05,3,7,"{'colsample_bytree': 0.3, 'gamma': 0.0, 'learn...",-6.108173e+07,-6.995084e+07,-7.809880e+07,-6.971046e+07,6.949267e+06,301
4,0.131190,0.001551,0.003413,0.002419,0.3,0,0.05,4,1,"{'colsample_bytree': 0.3, 'gamma': 0.0, 'learn...",-6.458220e+07,-7.121444e+07,-7.983693e+07,-7.187786e+07,6.245361e+06,322
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,0.147403,0.010861,0.000974,0.001378,0.4,0.2,0.15,6,7,"{'colsample_bytree': 0.4, 'gamma': 0.2, 'learn...",-2.959272e+07,-3.026735e+07,-3.551691e+07,-3.179233e+07,2.648041e+06,61
356,0.167356,0.004055,0.008582,0.005217,0.4,0.2,0.15,8,1,"{'colsample_bytree': 0.4, 'gamma': 0.2, 'learn...",-4.202896e+07,-4.074274e+07,-4.521822e+07,-4.266331e+07,1.881359e+06,160
357,0.170756,0.004249,0.003003,0.004247,0.4,0.2,0.15,8,3,"{'colsample_bytree': 0.4, 'gamma': 0.2, 'learn...",-3.911425e+07,-3.515032e+07,-4.165420e+07,-3.863959e+07,2.676325e+06,136
358,0.158506,0.007278,0.005208,0.007365,0.4,0.2,0.15,8,5,"{'colsample_bytree': 0.4, 'gamma': 0.2, 'learn...",-3.556183e+07,-3.426361e+07,-4.085701e+07,-3.689415e+07,2.851846e+06,118
359,0.105304,0.006807,0.004838,0.006842,0.4,0.2,0.15,8,7,"{'colsample_bytree': 0.4, 'gamma': 0.2, 'learn...",-3.275795e+07,-3.253017e+07,-3.769759e+07,-3.432857e+07,2.384070e+06,88

In [65]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:15
BMI:45
Children:2
Sex Male 0 or 1:0
Smoker Yes 0 or 1:1

In [66]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])

#change the parameter ,play with it
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[50704.75]